/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Inter", sans-serif; */
}

body {
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

/* COLORS  */
:root {
  --white: #ffffff;
  --accent: #1d4ed8;
  --secondary-accent: #3b82f6;
  --dark: #0d1b2a;
  --gray: #575757;
  --secondary-gray: #757575;
}

/* Check */
h2 {
  color: var(--accent);
}

/* COMMON STYLES */
